/*@font-face {
    font-family: 'UniviaProBlack';
    src: url('../fonts/univiapro-black-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univia_prolight';
    src: url('../fonts/univiapro-light-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UniviaProRegular';
    src: url('../fonts/univiapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}







@font-face {
    font-family: 'UniviaW03-Book';
    src: url('../fonts/univiapro-book-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*/

/*FONTS*/
@font-face {
    font-family: 'univia_prothin';
    src: url('../fonts/univiapro-thin-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'UniviaProBlack';
  src: url('../fonts/UniviaProBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniviaProBlack.otf')  format('opentype'),
         url('../fonts/UniviaProBlack.woff') format('woff'), url('../fonts/UniviaProBlack.ttf')  format('truetype'), url('../fonts/UniviaProBlack.svg#UniviaProBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
      font-family: 'UniviaPro-Bold';
  src: url('../fonts/UniviaPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniviaPro-Bold.otf')  format('opentype'),
         url('../fonts/UniviaPro-Bold.woff') format('woff'), url('../fonts/UniviaPro-Bold.ttf')  format('truetype'), url('../fonts/UniviaPro-Bold.svg#UniviaPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniviaProRegular';
  src: url('../fonts/UniviaProRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniviaProRegular.otf')  format('opentype'),
         url('../fonts/UniviaProRegular.woff') format('woff'), url('../fonts/UniviaProRegular.ttf')  format('truetype'), url('../fonts/UniviaProRegular.svg#UniviaProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniviaW03-Book';
  src: url('../fonts/UniviaW03-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniviaW03-Book.woff') format('woff'), url('../fonts/UniviaW03-Book.ttf')  format('truetype'), url('../fonts/UniviaW03-Book.svg#UniviaW03-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*FONTS*/


body{font-family: 'UniviaProRegular';color: #141414;}
a{color: #141414; text-decoration: none;}
a:visited {color: #141414;}
a:focus {outline: none;}

#site-navigation {
    display: inline-block;
    width: calc(100% - 240px);
    box-sizing: border-box;
    margin: 0;
    clear: none;
    vertical-align: middle;
}
.site-branding {
    width: 240px;
    float: left;
}
.menu-menu-1-container li {
    display: inline-block;
    margin: 0 25px;
}
.menu-menu-1-container li a {
    vertical-align: middle;
    height: 60px;
    display: table-cell;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}
.menu-menu-1-container li a:hover {
    color: #34EAB6;
}
.menu-menu-1-container {
    float: left;
}
.main-navigation a{color: #fff;letter-spacing: 1px;}
.button_wrapper {
    float: right;
}
.button_wrapper ul li {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    float: none;
}
.button_wrapper ul {
    display: table;
}
.button_wrapper ul li a {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 5px 25px;
    font-size: 16px;
    transition: 0.3s;
}
.main-navigation ul ul{    min-width: 185px;    padding: 15px 0;    background: #0F0F3C;}
.main-navigation ul ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 12px 0;
        padding: 0 15px;
    box-sizing: border-box;
}
.main-navigation ul ul li a {
    height: auto;
    width: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
}
header#masthead {
    box-sizing: border-box;
    z-index: 2;
    max-width: 1160px;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 28px 0 28px;
}
.main_header {
    min-height: 100px;
    width: 100%;
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 0;
    background: linear-gradient(#0f0f3c 0%, rgba(15, 15, 60, 0) 100%);
}
.entry-content{margin-top: 0;}

.wpb_single_image .vc_figure,
.wpb_single_image .vc_single_image-wrapper, .wpb_single_image img{width: 100%;}

.title_ {text-align: center;font-size: 32px;color: #000;margin-top: 60px;}
#way_boxes_row .wpb_wrapper {
    position: relative;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .wpb_wrapper {
    position: absolute;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 30px solid transparent;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes {
    position: absolute;
    /* top: 0; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#way_boxes_row {
    position: relative;
    margin-top: 50px;
}
.way_container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper img {
    border-top-right-radius: 40px;
    overflow: hidden;
    border-bottom-left-radius: 40px;
}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper{height: 100%;}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper img {
    border-top-right-radius: 30px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    height: 100%;
    width: 100%;
}
#way_boxes_row .blue_shadow .wpb_single_image .vc_single_image-wrapper img{
        -webkit-box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
-moz-box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
}
#way_boxes_row .green_shadow .wpb_single_image .vc_single_image-wrapper img{
            -webkit-box-shadow: 0px 0px 32px -2px rgba(52,234,182,0.81);
-moz-box-shadow: 0px 0px 32px -2px rgba(52,234,182,0.81);
box-shadow: 0px 0px 32px -2px rgba(52,234,182,0.81);
}
#way_boxes_row .wpb_wrapper {
    position: relative;
    width: 550px;
    height: 350px;
    margin: 0 auto;
    overflow: visible;
}
#way_boxes_row .wpb_wrapper .way_boxes_btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
#way_boxes_row .wpb_wrapper .way_boxes_btn {
    color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 60px;
    float: left;
    display: inline-block;
    background: #6d50e8;
    text-align: center;
    transition: 0.3s;
}
#way_boxes_row .wpb_raw_code.wpb_content_element.wpb_raw_html {
    position: absolute;
    top: 10px;
    height: calc(100% - 20px);
    width: 100%;
    margin: 0;
    padding: 0;
    transform: scale(0.9);
}
#way_boxes_row .green_shadow .wpb_wrapper  .way_boxes_btn a:hover {background: #6d50e8;}
#way_boxes_row .wpb_wrapper .way_boxes_btn a:hover {background: #34eab6;}
#way_boxes_row .green_shadow .wpb_wrapper .way_boxes_btn a{background: #34EAB6;}
.green_shadow .way_container:before{border-color: #34EAB6;}
.blue_shadow .way_container:before{border-color: #6D50E8;}

.way_boxes_btn:before {
    content: '';
    background: url(../images/post_arrow.png);
    position: absolute;
    width: 18px;
    height: 30px;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#way_boxes_row .wpb_wrapper .way_boxes h3 {
    margin: 0;
    color: #fff;
    font-size: 36px;
}
.footer_wrapper {
    width: 100%;
    clear: both;
    display: inline-block;
}
.footer_wrapper .footer_column {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    clear: none;
    float: left;
}
.footer_wrapper .footer_column.footer_logo {
    width: 15%;
}
.footer_wrapper .footer_column.menu_combine {
    width: 16%;
}
.footer_address a {
    color: #141414;
    text-decoration: none;
    font-family: 'UniviaW03-Book';
}
.footer_wrapper .footer_column.icon_or_link {
    width: 33%;
}
.footer_wrapper .footer_column h3.widget-title {
    margin: 0;
    color: #141414;
    font-size: 16px;
}
.footer_address {
    margin-top: 20px;
}
.footer_column .menu li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.footer_column .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.footer_column .menu {
    margin: 0;
    padding: 0;
}
.footer_column .terms_privacy a {
    text-decoration: none;
    font-size: 16px;
    color: #141414;
    transition: 0.3s;
}
.terms_privacy a.terms_link {
    padding-right: 12px;
    margin-right: 6px;
    line-height: normal;
    position: relative;
}
.terms_privacy a.terms_link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    width: 2px;
    background: #141414;
}
.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner{padding-top: 0;}
#capacity_section .vc_column-inner {
    padding: 0;
}
#capacity_section .wpb_wrapper {
    position: relative;
    width: 100%;
}

#capacity_section .wpb_text_column {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10%;
}
.capacity_sec h3 {
    color: #fff;
    font-size: 34px;
    line-height: 43px;
    margin: 0;
    letter-spacing: 2px;
}
.capacity_sec h4 {
    font-size: 34px;
    color: #fff;
    line-height: normal;
    margin: 0;
    font-family: 'UniviaW03-Book';
    font-weight: normal;
}

header.entry-header {
    display: none;
}

.vc_column_container.vc_col-sm-12{
    max-width: 1160px;
    margin: 0 auto;
    float: none;
}
.capacity_sec {
    text-align: center;
    padding: 140px 0;
}
.site-info {
    max-width: 1160px;
    margin: 0 auto;
}
.site-branding img.custom-logo {
    width: 180px;
}
.button_wrapper ul li:not(:last-child){padding-right: 20px;}

/****MAIN TITLE*****/
.home-page-banner h1 {
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    line-height: 72px;
    margin-top: 0;
}
.home-page-banner p {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-family: 'UniviaW03-Book';
    letter-spacing: 0.5px;
}
.title_ h2 {
    font-size: 34px;
    color: #141414;
    line-height: 41px;
    letter-spacing: 0.58px;
    font-family: 'UniviaProBlack';
    position: relative;
    margin-bottom: 20px;
    margin-top: 0;
}
.title_ h2:before {
    content: '';
    height: 3px;
    width: 60px;
    float: left;
    background-image: -moz-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -webkit-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -ms-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.title_white h2 {
    color: #fff;
}
.title_ p {
    color: #4A4A4A;
    font-size: 22px;
    font-family: 'UniviaW03-Book';
    padding: 0;
    margin: 0;
}
.title_white p{color: #fff}
/****MAIN TITLE*****/
/****MAIN BUTTON*****/
.action_btn a {
    font-size: 16px;
    line-height: 20px;
    color: #34EAB6;
    border: 2px solid #34EAB6;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
}
.action_btn a:hover{background: #34EAB6;color: #141414;}
.home-page-banner .carriers_contact .carriers_signup a:hover {color: #141414;}
/*.btn_gradient input:hover,.signup_page .riggo_info a:hover, .action_btn.btn_gradient a.btn_border:hover{opacity: 0.8;}*/
/****MAIN BUTTON*****/
._boxes_icon {
    text-align: center;
    padding: 0 10px;
}
.icon_boxes {
    max-width: 44px;
    text-align: center;
    margin: 0 auto;
}
._boxes_icon h2 {
    font-size: 18px;
    color: #4A4A4A;
}
._boxes_icon p{
    color: #4A4A4A;
    font-size: 18px;
    font-family: 'UniviaW03-Book';
}
.capacity_sec .action_btn {
    margin-top: 50px;
}
footer#colophon {
    padding: 70px 0 40px;
    box-sizing: border-box;
}
.footer_address p {
    font-family: 'UniviaW03-Book';
    color: #141414;
}
.footer_column .menu li a {
    color: #141414;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    text-transform: capitalize;
}
.footer_column .menu li a:hover,
.footer_column .terms_privacy a:hover,
a.single_menu:hover{
color: #34EAB6;
}

.copyright_info p {
    font-size: 16px;
    font-family: 'UniviaW03-Book';
}
.copyright_info, .social_icon, .terms_privacy {
    text-align: right;
}
.talk_to_representative {
    float: left;
    width: 100%;
    clear: both;
    color: #fff;
    font-family: 'UniviaW03-Book';
        font-size: 16px;
}
.talk_to_representative a {
    color: #fff;
    margin-top: 5px;
    float: left;
    font-family: 'UniviaProRegular';
    font-size: 16px;
}
.responsive-menu .menu-header li ul.sub-menu{
    margin: 0;
    padding: 0;
}
.responsive-menu .menu-header li ul.sub-menu li:nth-child(1) {
    border-top: 2px solid #303061;
    margin-top: 12px;
}
.responsive-menu .button_wrapper ul li.get_started a {
    border-color: transparent;
}
.two_boxes {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}
.two_box_icon {
    max-width: 44px;
    margin: 0 auto;
}
.two_boxes.img_cover .two_box_icon {
    max-width: 35px;
}
.two_boxes h3 {
    font-size: 18px;
    color: #4A4A4A;
}
.two_boxes p {
    font-size: 18px;
    color: #4A4A4A;
    line-height: 28px;
    font-family: 'UniviaW03-Book';
}
.delivering_boxes .wpb_content_element {
/*    margin-bottom: 100px;*/
}
.delivering_boxes {
    margin-top: 100px;
    padding: 0 40px;
}
.full_width_section .vc_column_container.vc_col-sm-12 {
    width: 100%;
    max-width: 100%;
}
.img_left .vc_column-inner {
    margin-left: -18%;
}
.half_with_box .boxes_content {
    width: 50%;
    float: left;
    padding-right: 10%;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.half_with_box .boxes_content h4 {
    font-size: 18px;
    color: #34EAB6;
    margin: 0;
    line-height: 28px;
    letter-spacing: 1px;
}
.half_with_box .boxes_content p {
    font-family: 'UniviaW03-Book';
    font-size: 18px;
    color: #fff;
    line-height: 28px;
}
.half_with_box {
    float: left;
    width: 100%;
    max-width: 800px;
}
.case_study .wpb_wrapper .wpb_single_image .vc_single_image-wrapper {
    max-width: 260px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.case_study .img_with_content .vc_column-inner {
    box-shadow: 0px 2px 23px #6d50e8;
    padding: 50px;
    background: #fff;
}
.case_study h3 {
    font-size: 22px;
    color: #141414;
    margin: 0;
    transition: 0.3s;
}
.case_study h3:hover{
    color: #6D50E8;
}
.case_study p {
    margin-top: 10px;
    color: #4A4A4A;
    font-family: 'UniviaW03-Book';
    font-size: 18px;
}
.case_study {
    margin-bottom: 50px;
}
.not_quite h3 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}
.not_quite h4 {
    color: #34EAB6;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.not_quite p {
color: #fff;
font-size: 18px;
font-family: 'UniviaW03-Book';
margin: 0;
max-width: 460px;
}
.not_quite p a {
    color: #fff;
}
.not_quite .contact_profile a {
    font-family: 'UniviaW03-Book';
    font-size: 22px;
}
.not_quite .contact_profile .action_btn {
    margin-top: 20px;
    display: inline-block;
}
.not_quite .contact_profile {
    margin-top: 0px;
    display: inline-block;
        margin-top: 50px;
}
.button_wrapper ul li.get_started a {
    background: #6d50e8;
    border-color: transparent;
    border: 2px solid transparent;
}

.menu-menu-1-container li.menu-item-has-children > a:after {
/*    content: '';
    background: url(../images/menu_arrow.png);
    position: absolute;
    right: 5px;
    top: 28px;
    width: 13px;
    height: 7px;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
}
.menu-menu-1-container li.menu-item-has-children a {
    position: relative;
    padding-right: 25px;
}
.footer_wrapper .footer_column aside#media_image-5 {
    max-width: 45px;
    float: left;
}
.footer_column.icon_or_link .sfsi_widget .norm_row.sfsi_wDiv {
    width: 100% !important;
    position: static !important;
    float: right;
    text-align: right !important;
}
.footer_column.icon_or_link .sfsi_widget div#sfsi_holder {
    height: 0 !important;
}
.sfsi_footerLnk {
    display: none;
}
.banner_text_right .home-page-banner {
    float: right;
}
.home-page-banner .carriers_contact a {
    color: #fff;
}
.home-page-banner .carriers_contact {
    width: 100%;
    display: table;
}
.home-page-banner .carriers_contact .carriers_signup {
    display: table-cell;
    vertical-align: middle;
}
.home-page-banner .carriers_contact .carriers_repres {
    display: table-cell;
}
.home-page-banner .carriers_contact .carriers_repres p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.home-page-banner .carriers_contact .carriers_repres a {
    font-family: 'UniviaProBlack';
}
.home-page-banner .carriers_contact .carriers_signup a {
    color: inherit;
    color: #34EAB6;
}
.capacity_sec p {
    color: #fff;
    font-family: 'UniviaW03-Book';
    font-size: 22px;
}
.carriers_icon_boxes ._boxes_icon .icon_boxes {
    max-height: 80px;
    vertical-align: middle;
    line-height: 110px;
}
.common_sec {
    padding: 60px 0;
}
.case_study_testimonial {
    padding: 0 10%;
    text-align: center;
    max-width: 500px;
}
.author_icon {
    max-width: 40px;
    margin: 0 auto;
}
.case_study_testimonial p {
    font-size: 25px;
    margin-bottom: 20px;
}
.case_author p {
    font-size: 22px;
    color: #4A4A4A;
}
.case_author h4 {
    margin: 0;
    font-size: 22px;
    color: #4A4A4A;
}
.equal_padding {
    padding: 100px 0;
        width: 100%;
        box-sizing: border-box;
}
.carriers_box_only .half_with_box .boxes_content {
min-height: 200px;
    margin-bottom: 60px;
}  
.full_width_section .wpb_single_image .vc_single_image-wrapper {
    max-width: 90%;
}
/*.bottom_blue_img {
    background: url(../images/Violet_wave_BG.png);
}*/
.case_study.bottom_blue_img,
.case_study.bottom_blue_img {
        background-size: 100% 400px !important;
    background-position: bottom !important;
        padding-bottom: 100px;
        margin-bottom: 0;
}
.about_us_banner h1 {
    color: #fff;
    letter-spacing: 1px;
}
.page-id-10 .about_us_banner h1 {
    font-family: 'univia_prothin';
    font-weight: normal;
    font-size: 40px;
}
.about_mission h2 {
    color: #4A4A4A;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
}
.about_mission p {
    font-size: 18px;
    color: #4A4A4A;
    font-family: 'UniviaW03-Book';
}
.two_part_contact {
    width: 100%;
    clear: both;
    max-width: 800px;
    display: inline-block;
}
.two_part_contact .join_us {
    width: 50%;
    float: left;
    max-width: 250px;
    text-align: center;
}
.two_part_contact .contact_us {
    width: 50%;
    display: inline-block;
    text-align: right;
    max-width: 200px;
    float: right;
    text-align: center;
}
.two_part_contact h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.capacity_sec .two_part_contact .action_btn {
    margin-top: 0;
}
.signup_page .riggo_info a {
    background: #6D50E8;
    color: #fff;
    font-size: 16px;
    padding: 18px 41px;
    border-radius: 5px;
    font-family: 'UniviaProRegular';
    transition: 0.3s;
}
.signup_page .riggo_info p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
        font-family: 'UniviaW03-Book';
}
.signup_page .riggo_info h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.sign_up a.get_set_up {
    background: #34EAB6;
    color: #0F0F3C;
}
.riggo_info {
    text-align: center;
}
.btn_gradient a,
.btn_gradient input,
.page-id-103 .contact_us_form .btn_gradient input {
    border-radius: 5px;
  background-image: -moz-linear-gradient( 0deg, rgb(109,80,232) 0%, rgb(81,155,208) 62%, rgb(53,230,183) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(109,80,232) 0%, rgb(81,155,208) 62%, rgb(53,230,183) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(109,80,232) 0%, rgb(81,155,208) 62%, rgb(53,230,183) 100%);
    padding: 21px 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    border-width: 0;
    outline: none;
    background-color: transparent;
}
.btn_gradient input{
    color: #fff;
    border: transparent;
    font-size: 1rem;
    font-family: inherit;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s
}
.home-page-banner.banner_text_center {
    text-align: center;
}
.wpb_gmaps_widget.careers_map .wpb_wrapper{
    padding: 0;
}
.map_section .vc_column_container>.vc_column-inner {
    padding: 0;
}

.careers_page {
    padding-top: 12%;
    max-width: 500px;
    margin: 0 auto;
}
.careers_page h2 {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    position: relative;
}
.careers_page .address p{
    color: #fff;
    font-size: 22px;
    font-family: 'UniviaW03-Book';
}
.careers_page p {
    color: #fff;
    font-size: 18px;
    font-family: 'UniviaW03-Book';
        margin-top: 40px;
}
.wpb_gmaps_widget.vc_map_responsive.careers_map .wpb_map_wraper iframe, .vc_custom_1546323035833{    height: 600px;}
.careers_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.careers_boxes_content {
    width: 100%;
    box-sizing: border-box;
        margin-top: 90px;
}
.careers_boxes .box_title h3 {
    font-size: 22px;
    width: auto;
    text-align: center;
/*    background: linear-gradient(#34eab6 0%, #6d50e8 100%);*/
    color: #fff;
    display: inline-block;
    padding: 28px 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: -moz-linear-gradient( 0deg, rgb(90, 129, 212) 0%, rgb(75,151,206) 44%, rgb(53,222,184) 99%);
    background-image: -webkit-linear-gradient( 0deg, rgb(90, 129, 212) 0%, rgb(75,151,206) 44%, rgb(53,222,184) 99%);
    background-image: -ms-linear-gradient( 0deg, rgb(90, 129, 212) 0%, rgb(75,151,206) 44%, rgb(53,222,184) 99%);
}
.careers_boxes {
    text-align: center;
}
.careers_boxes .careers_content{
min-height: 320px;
-webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.23);
box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.23);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
    max-width: 330px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}
.careers_boxes .careers_content ul {
    text-align: left;
}
.careers_boxes .careers_content ul li {
    font-size: 18px;
    color: #000000;
    font-family: 'UniviaW03-Book';
    margin-bottom: 13px;
    line-height: normal;
}
#nav-main-mobile {
    display: none !important;
}
.responsive-menu{display: none;}
.form_shipper_carrier {
    min-height: 500px;
}
.shipper_carrier_form {
    text-align: center;
}
.shipper_carrier_form h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    line-height: 60px;
    margin: 0;
}
.shipper_carrier_form p {
    font-size: 22px;
    color: #fff;
    margin: 0;
    font-family: 'UniviaW03-Book';
}
.form_shipper_or_carrier {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 0;
    background: #fff;
    padding: 20px 70px;
    box-sizing: border-box;
    /* border: 1px solid #707070; */
    border-top: 2px solid #6c52e7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(#000, transparent);
    background-image: -moz-linear-gradient(#000, transparent), -moz-linear-gradient(#000, transparent);
    background-image: -o-linear-gradient(#000, transparent), -o-linear-gradient(#000, transparent);
    background-image: linear-gradient(#6c52e7, transparent), linear-gradient(#6c52e7, transparent);
    -moz-background-size: 3px 100%;
    background-size: 2px 60%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}
.form_shipper_or_carrier .form-group input {
    width: 100%;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    transition: 0.3s;
    font-family: 'UniviaW03-Book';
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    line-height: normal;
}
.form-group textarea{transition: 0.3s;}
.form_two_field {
    float: left;
    width: 100%;
}
.form_shipper_or_carrier .form-group {
    padding: 0 10px;
    margin: 30px 0;
}
.form_two_field .form-group {
    width: 50%;
    float: left;
}
.form_shipper_or_carrier .form-group label {
    font-size: 16px;
    color: #7A7A7A;
    font-family: 'UniviaW03-Book';
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.form_shipper_or_carrier .form-group input:hover, .form_shipper_or_carrier .form-group textarea:hover, .form_shipper_or_carrier .form-group input:focus, .form_shipper_or_carrier .form-group textarea:focus {
    border-color: #6D50E8;
    outline: none;
}
.form_top {
    margin-top: -170px;
}
.form_top .wpb_text_column.wpb_content_element {
    margin-bottom: 0;
}
.allready_ac_login {
    display: table;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 60px;
}
.account_allready a {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #7A7A7A;
}
.account_allready p{margin: 0; padding: 0;}

.allready_ac_login .account_allready {
    display: table-cell;
    text-align: right;
    padding-right: 15px;
}
.allready_ac_login .action_btn {
    display: table-cell;
    text-align: left;
}

.form_shipper_or_carrier .btn_gradient a {
    width: 100%;
    display: inline-block;
}
.form_shipper_or_carrier .btn_gradient {
    margin: 20px 0;
    text-align: center;
    padding: 0 10px;
}
.contact_form_page .vc_row-fluid {
    padding-top: 140px;
    margin: 0;
}
.contact_us_form .btn_gradient input{
    background: #6D50E8;
    transition: 0.3s;
}
.contact_us_form .btn_gradient input:hover {
    background: #34EAB6;
    opacity: 1;
    color: #141414;
}   
.btn_gradient input:hover {
    background: #34EAB6;
    color: #141414;
}
form.form_shipper_or_carrier.contact_us_form {
    padding-top: 40px;
    padding-bottom: 70px;
}
.contact_page_content h1 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.contact_page_content .part_contact h4 {
    color: #fff;
    margin: 0;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.contact_page_content .part_contact p{padding: 0; margin: 0;}
.contact_page_content .part_contact a {
    font-size: 18px;
    color: #fff;
    font-family: 'UniviaW03-Book';
}
.contact_page_content .part_contact {
    margin-bottom: 40px;
}
.contact_page_content p {
    font-size: 22px;
    color: #fff;
    font-family: 'UniviaW03-Book';
    margin-top: 0;
}
.contact_page_content {
    padding-top: 10%;
}
.author_review_testimonial .item {
  /*  max-width: 450px;
    margin: 0 auto;
    box-shadow: 0px 5px 27px rgba(109, 80, 232, 0.52);
    background: #fff;
    padding: 110px 50px 50px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 420px;*/
    padding: 20px;
}
.author_review_testimonial .author_testimonials {
    margin: 0 auto;
    box-shadow: 0px 5px 27px rgba(109, 80, 232, 0.52);
    background: #fff;
    padding: 110px 50px 50px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 420px;
}
.author_review_testimonial .author-description p {
    margin: 0;
    font-size: 18px;
    color: #4A4A4A;
    font-family: 'UniviaW03-Book';
    line-height: 30px;
}
.author_review_testimonial .author-avatar {
    max-width: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}   
.author_review_testimonial .about_author {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 85px);
}
.author_review_testimonial .about_author h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.author_review_testimonial .about_author h6 {
    margin: 0;
    font-size: 18px;
    color: #BCBCBC;
    font-family: 'UniviaW03-Book';
    font-weight: normal;
}
.author_review_testimonial .author-description:before {
    content: '';
    background: url(../images/quotes-teal.png);
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    top: -60px;
}
.author_review_testimonial .author-description {
    position: relative;
}
.author_review_testimonial .owl-carousel.owl-drag .owl-item{padding: 20px 0;}
.author_review_testimonial .author-description {
    position: relative;
    margin-bottom: 30px;
}
.author_review_testimonial .owl-nav{
    position: absolute;
    bottom: 38%;
    width: 100%;
}
.author_review_testimonial .owl-nav .owl-next {
    right: -50px;
    position: absolute;
}
.author_review_testimonial .owl-nav .owl-prev {
    left: -50px;
    position: absolute;
}
.author_review_testimonial .owl-nav button span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 30px;
}
.author_review_testimonial .owl-nav button.owl-prev span:before{background: url(../images/arrow_left.png)!important;}
.author_review_testimonial .owl-nav button.owl-next span:before{background: url(../images/arrow_right.png)!important;}
.author_review_testimonial .owl-nav button span {
    color: rgba(0, 0, 0, 0);
    position: relative;
    float: left;
}
.author_review_testimonial .owl-nav button{width: 20px;outline: none;}
.author_review_testimonial .owl-nav [class*=owl-]:hover{background: transparent;}
.author_review_testimonial .owl-carousel .owl-stage-outer{/*width: 90%;margin: 0 auto;*/}
.author_review_testimonial .owl-carousel.owl-drag .owl-item{}
.author_review_testimonial .owl-theme .owl-dots .owl-dot span{border: 2px solid #fff;width: 16px;height: 16px; background-color: transparent;}

.author_review_testimonial .owl-theme .owl-dots .owl-dot.active span, .author_review_testimonial .owl-theme .owl-dots .owl-dot:hover span{background-color: #fff; }
.author_review_testimonial .owl-theme .owl-dots button {outline: none;}
.author_review_testimonial.vc_custom_1546408006710,
.author_review_testimonial.vc_custom_1546508258494{background-size: 100% 550px !important;background-position: bottom !important;padding-bottom: 30px;margin-bottom: 0;}
.author_review_testimonial .owl-theme .owl-dots {margin-top: 20px;}
.author_review_testimonial {margin-top: 20px;}
.author_review_testimonial .author_details {min-height: 150px;}
.author_review_testimonial .author-avatar a {border-radius: 50%;width: 60px;height: 60px;float: left;overflow: hidden;}
.author_review_testimonial .author-avatar a img {width: 100%;height: 100%;float: left;object-fit: cover;}

.riggo_team_member .awsm-grid-wrapper .awsm-grid>.awsm-grid-card {padding: 0;margin: 0;}
.riggo_team_member .modal-style.style-1 figcaption {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(52,234,182,0.6);
    background-color: rgba(60, 132, 198, 0.3);
    border-top-color: #6d50e8;
    border-right-color: #6d50e8;
    border-bottom-color: #6d50e8;
    border-left-color: #6d50e8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(52, 234, 182, 0.8)), to(rgba(109, 80, 232, 0.5)));
    background-image: -moz-linear-gradient(rgba(52, 234, 182, 0.8) 0%, rgba(109, 80, 232, 0.5) 90%);
    background-image: -ms-linear-gradient(linear, 0% 0%, 0% 90%, from(rgba(52, 234, 182, 0.8)), to(rgba(109, 80, 232, 0.5)));
}
.riggo_team_member .modal-style.style-1 .awsm-personal-info{vertical-align: bottom;}
.riggo_team_member .modal-style.style-1 figcaption h3{font-size: 22px;}
.riggo_team_member .awsm-personal-info span{font-size: 18px;text-transform: none;font-family: 'UniviaW03-Book';}
.riggo_team_member .modal-style.style-1 .awsm-modal-content{    background: #0F0F3C; padding: 0 10px 0 45px;height: 500px;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner h2 {color: #fff;font-size: 36px;margin: 0;line-height: normal;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner h3 {color: #fff;font-size: 22px;font-family: 'UniviaW03-Book';text-transform: capitalize;line-height: normal;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner p {color: #fff;font-size: 18px;font-family: 'UniviaW03-Book';line-height: 27px;}
.riggo_team_member .member_popup {width: 230px;height: 100%;float: left;}
.riggo_team_member .modal-style.style-1 .awsm-image-main img{height: 100%;width: 100%;object-fit: cover;}
.riggo_team_member .modal-style.style-1 .awsm-image-main{height: 437px;margin-right: 0; margin-bottom: 0;}
.riggo_team_member .awsm-grid-wrapper .awsm-social-icons {float: left;width: 100%;background: #6D50E8;margin: 0;text-align: center;padding: 15px 0;}
.riggo_team_member .awsm-social-icons span i {font-size: 30px;color: #fff;font-weight: normal;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content-inner{padding-left: 30px; padding-top: 20px;padding-top: 50px;    padding-bottom: 10px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-items-main{max-width: 1100px;}
.riggo_team_member .member_model p {margin: 0;margin-bottom: 15px;}
.riggo_team_member .member_model p span {color: #34EAB6;font-family: 'UniviaProRegular';margin-right: 5px;}
.riggo_team_member .member_model {margin-top: 30px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-close::after, .riggo_team_member .modal-style.style-1 .awsm-modal-close::before{height: 3px;}
.modal-style.style-1 .awsm-nav-item{font-weight: bold;}



/*MODEL CSS*/
.model_member_ {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-style.style-1 .awsm-modal-items-main{
        max-height: 600px;
    width: 100%;
    height: 100%;
}
.modal-style.style-1 .awsm-modal-close{top: 60px;}
.modal-style.style-1 .awsm-nav-item{bottom: 55px;top: auto;font-size: 20px; left: 0;    z-index: 11;    text-align: center;}
.modal-style.style-1 .awsm-nav-right{right: 0; left: auto;}


.single_testimonial .testimonial-img .wpb_single_image {
    text-align: right;
    margin-right: 50px;
}
.single_testimonial .wpb_single_image img{    /*border: 1px solid #D8D8D8;*/}
.single_review .author-avatar {display: none;}
.single_review .author-description:before {content: '';background: url(../images/quotes-teal.png);position: absolute;left: 0;width: 40px;height: 40px;background-size: 100% 100%;top: 0;}
.single_review .author-description p {
    font-size: 22px;
    color: #4A4A4A;
    line-height: 40px;
    padding-top: 80px;
    margin: 0;
    font-family: 'UniviaW03-Book';
}
.single_review .about_author h4 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #4A4A4A;
}
.single_review .about_author h6 {
    font-size: 22px;
    color: #4A4A4A;
    font-family: 'UniviaW03-Book';
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.single_review .card-testimonial {
    margin-top: 50px;
}
.single_review .owl-theme .owl-nav{display: none;}
.single_review .owl-theme .owl-dots .owl-dot span{
        border-radius: 50%;
    border: 2px solid #DBDBDB;
        width: 14px;
    height: 14px;
}
.single_review .owl-theme .owl-dots .owl-dot.active span, .single_review .owl-theme .owl-dots .owl-dot:hover span{
    background:#34EAB6;
    border-color: transparent;
}
.single_review .owl-theme .owl-dots .owl-dot{outline: none;}
.full_width_section.single_testimonial .wpb_single_image .vc_single_image-wrapper {
    max-width: 50%;
    float: right;
    margin-right: 50px;
}
.single_testimonial section#demos {
    position: absolute;
    max-width: 800px;
    left: 15%;
    top: 15%;
}
.single_review .owl-theme .owl-dots {
    text-align: left;
    margin-left: -7px;
    margin-top: 10%;
}

.page-id-92 .author_review_testimonial .author_testimonials{max-width: 450px;padding: 100px 40px 30px 40px;}
.freight_your_way {
    margin-top: 50px;
}

.page-id-92 .author-footer {min-height: 110px;}
.page-id-92 .full_width_section {margin-top: 40px;}
.page-id-92 .author_review_testimonial .author-description{margin-top: 10px;}
.mobile_banner {
    display: none;
}

/*mobile banner data*/
.mobile_banner .mobile_representative p {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.mobile_banner .mobile_representative{
    float: left;
    width: 100%;
}
.mobile_banner .mobile_representative a {color: #fff;font-family: 'UniviaPro-Bold';}
.mobile_representative {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.contact_us_form {
    margin-bottom: 100px;
}
.contact_us_form textarea {
    max-width: 100%;
    min-width: 100%;
    height: 180px !important;
    max-height: 180px;
    font-family: 'UniviaW03-Book';
    font-size: 18px;
}
.wpcf7-validation-errors {
    color: #ff0000;
}
.contact_us_form {
    margin-bottom: 100px;
    border: 0;
    background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #6d50e8, #6d50e8, #6d50e8, #34EAB6, #34EAB6);
    background-size: 0px 0px, 100% 4px;
    border: none;
}
.contact_us_form h3 {
    font-size: 22px;
    color: #4A4A4A;
    margin-bottom: 0;
}
.careers_page h2:before {
    content: '';
    width: 55px;
    height: 2px;
    background: red;
    position: absolute;
    left: 0;
    right: auto;
    top: -20px;
    margin: 0 auto;
        background-image: -moz-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -webkit-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -ms-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
}
.hero-section {
    padding-top: 116px;
}
.menu-menu-1-container li.current_page_item a:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: 10px;
    background: #fff;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-image: -moz-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -webkit-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    background-image: -ms-linear-gradient( 0deg, rgb(53,222,184) 0%, rgb(75,151,206) 44%, rgb(97,79,227) 99%);
    top: auto;
}
.menu-menu-1-container ul.sub-menu li.current_page_item a:before {visibility: visible;}
.menu-menu-1-container li.current_page_item a {position: relative;}
.menu-menu-1-container ul ul.sub-menu li a:before {visibility: hidden;}
.menu-menu-1-container ul.sub-menu li.current_page_item a:before {visibility: visible;bottom: -5px;right: auto;}

.freight-quote-main{max-width: 1160px;}
.quote_banner {
    background: url(../images/quote-landing.png);
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}
.freight-quote-main {
    max-width: 1160px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    margin-top: 90px;
}
.freight_form{
    float: left;
    width: 60%;
}
.freight_info {
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding-left: 50px;
}
.quote-request-form {
    width: 100%;
    float: left;
    clear: both;
}
form.repeater {
    float: left;
    width: 100%;
}
.freight_form .form-top {
    float: left;
    width: 100%;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.freight_form .form-bottom {
    float: left;
    width: 100%;
    background: #fff;
    padding: 40px 70px 40px 40px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
}
.freight_form .form-top .form-top-left,
.freight_form .form-top .form-top-right {
    float: left;
    width: 50%;
}
.freight_form .form-top label {
    float: left;
    width: 100%;
    text-align: left;
}
.freight_form .form-top input,
.freight_form .form-top select,
.freight_form .form-bottom input, .freight_form .form-bottom select {
    float: left;
    width: 100%;
    height: 50px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 10px;
}
.quote-request-form label {
    font-size: 16px;
    color: #7A7A7A;
    margin-bottom: 8px;
}
.freight_form .form-top .form-top-right {
    padding-left: 20px;
}
.freight_form .form-top .form-top-left {
    padding-right: 20px;
}
.quote-request-form .bottom_field ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.quote-request-form .bottom_field {
    float: left;
    width: 100%;
    position: relative;
    padding-right: 0px;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 30px;
    margin-bottom: 30px;
}   
.quote-request-form .bottom_field ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.quote-request-form .bottom_field ul li {
    width: 33.33%;
    float: left;
    padding-right: 20px;
}
.quote-request-form .bottom_field ul li:last-child {
    padding-right: 0;
}
.freight_form .form-bottom label {
    text-align: left;
    float: left;
    width: 100%;
}
.page-id-90 table.ui-datepicker-calendar {background: #fff;}
.freight_form .form-bottom input[type="button"] {
    width: auto;
    background: transparent;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: 100% 100% !important;
    outline: none;
    border: transparent;
}
.freight_form .form-bottom input.add_cell {
    background: url(../images/add_cell.png);
    position: absolute;
    right: 20px;
    top: auto;
    bottom: 161px;
    z-index: 1;
}
.freight_form .form-bottom input.delete_cell {
    background: url(../images/remove_cell.png);
    background-size: 100% 5px !important;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -50px;
    top: auto;
    bottom: 40px;
    z-index: 1;
}
.data_main_repeater {
    float: left;
    width: 100%;
    clear: both;
}
.data_main_repeater:nth-child(1) .delete_cell {
/*display: none;*/
}
.data_main_repeater:last-child .delete_cell {
display: none;
}
.quote-request-form .bottom_field:last-child {
    border-color: transparent;
}
.page-id-90 div#ui-datepicker-div .ui-datepicker-header,
.page-id-30 div#ui-datepicker-div .ui-datepicker-header {
    background: #34EAB6;
    text-align: center;
    padding: 5px 5px;
}
.page-id-90 div#ui-datepicker-div table.ui-datepicker-calendar,
.page-id-30 div#ui-datepicker-div table.ui-datepicker-calendar {
    background: #6d50e8;
    box-sizing: border-box;
    padding: 20px;
}
.page-id-90 div#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev,
.page-id-30 div#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev {
    display: inline-block;
    float: left;
}
.page-id-90 div#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next,
.page-id-30 div#ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next {
    display: inline-block;
    float: right;
}
.page-id-90 div#ui-datepicker-div .ui-datepicker-header .ui-corner-all,
.page-id-30 div#ui-datepicker-div .ui-datepicker-header .ui-corner-all  {
    cursor: pointer;
}
.page-id-90 div#ui-datepicker-div .ui-datepicker-header .ui-corner-all.ui-state-disabled,
.page-id-30 div#ui-datepicker-div .ui-datepicker-header .ui-corner-all.ui-state-disabled{cursor: auto;}

.freight_form .form-top input, .freight_form .freight_form .form-top select, .freight_form .form-bottom input, .freight_form .form-bottom select{
    font-size: 16px;
    font-family: 'UniviaW03-Book';
    outline: none;
    transition: 0.3s;
}
.freight_form input:hover, .freight_form .freight_form .form-top select:hover,
.freight_form input:focus, .freight_form .freight_form .form-top select:focus{
        border-color: #6D50E8;
}

.freight_form .form-top input.hasDatepicker {
    background: url(../images/calendar_form.png);
    height: 50px;
    float: right;
    background-repeat: no-repeat;
    padding-right: 35px;
    float: right;
    background-position: 92% center;
    background-size: 22px 22px;
}

.freight_form .form-top select{
    background: url(../images/dropdown_form.png);
    height: 50px;
    float: right;
    background-repeat: no-repeat;
    padding-right: 35px;
    float: right;
    background-position: 92% center;
    background-size: 20px 14px;
}
.freight_form .form-top select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
.freight_form .form-top select::-ms-expand{
     display: none;
}

.quote_banner h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 90px;
}
.quote-request-output {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.quote-request-estimation {
    float: left;
    width: 100%;
    padding: 50px;
    border-left: 1px solid #3EC8AC;
    border-right: 1px solid #4E90A4;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 1px;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
}
.quote-request-estimation {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
}
.quote-request-estimation span.estimated-price {
    font-size: 48px;
    width: 100%;
    text-align: center;
    float: left;
    line-height: normal;
}
.quote-request-estimation span.estimated-time-label {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'UniviaW03-Book';
    margin-top: 20px;
        margin-top: 40px;
}
.quote-request-estimation span.estimated-time-value {
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
        margin-top: 0;
}
.quote-request-estimation span.estimated-time-value a{color: #ffffff;}
.quote-request-estimation .action_btn {
    float: left;
    width: 100%;
}
.action_btn.btn_gradient a {
    border-color: transparent;
    border: 0;
        width: 100%;
}
.quote-request-output-links {
    display: table;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.quote-request-output-links a {
    display: table-cell;
    color: #fff;
    padding: 10px 32px;
}
.quote-request-output-links .action_btn {
    display: table-cell;
    text-align: center;
}
.freight_form .form-bottom input[type="submit"] {
    font-family: 'UniviaProRegular';
    border-color: #fff;
}

/*SHIPPER FORM*/
.shipper_main_quote .freight_info {
    padding-left: 0;
    width: 50%;
}
.shipper_main_quote .freight_form{ width: 50%;}
.quote_banner.shipper_main_quote h1 {
    color: #fff;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}
.quote_banner.shipper_main_quote p {
    margin-top: 0;
    margin-bottom: 30px;
}
.shipper_main_quote .home-page-banner {
    text-align: left;
    margin-top: 10%;
}
.shipper_main_quote .radio_btn {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
}
.shipper_main_quote .quote-request-form .bottom_field{
    border-bottom: 0px solid #D8D8D8;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

.shipper_main_quote .pretty .state label {
    position: initial;
    display: inline-block;
    font-weight: 400;
    margin: 0;
	padding-left: 23px;
    min-width: 100%;
}
.shipper_main_quote .pretty .state label:after, .pretty .state label:before {
    content: '';
	width: 18px;
    height: 18px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
}
.shipper_main_quote .freight_form .form-bottom .state {
    float: left;
    width: 100%;
    clear: both;
}
.shipper_main_quote .pretty .state label:before {
    border-color: #bdc3c7 !important;
}
.shipper_main_quote .pretty.p-round .state label:after, .shipper_main_quote .pretty.p-round .state label:before {
    border-radius: 100%;
}
.shipper_main_quote .pretty .state label:after, .shipper_main_quote .pretty .state label:before {
    content: '';
	width: 18px;
    height: 18px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top:0;
    background-color: transparent;
    transition: 0.3s;
}
.shipper_main_quote .pretty.p-default .state label:after {
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
}
.shipper_main_quote .pretty.p-round .state label:after, .shipper_main_quote .pretty.p-round .state label:before {
    border-radius: 100%;
}
.shipper_main_quote .pretty.p-default input:checked~.state label:after {
    background-color: #6D50E8!important;
}
.shipper_main_quote .pretty {
    position: relative;
    display: inline-block;
    margin-right: 3em;
    white-space: nowrap;
    line-height: 1;
    clear: both;
}
.shipper_main_quote .freight_form .form-bottom .pretty input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 6;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    right: 0;
    z-index: 9999;
}
.shipper_main_quote .freight_form .form-bottom .state label {
    color: #7A7A7A;
    font-size: 16px;
}
.shipper_main_quote .freight_form .form-bottom {
    background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #6d50e8, #6d50e8, #6d50e8, #34EAB6, #34EAB6);
    background-size: 0px 0px, 100% 4px;
    border: none;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}
.shipper_main_quote .freight_form .form-bottom{    padding: 40px;}
.shipper_main_quote  .quote-request-form{
        max-width: 510px;
    float: right;
}
.quote_banner.shipper_main_quote {
    background: url(../images/Hero_Shipper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.deliivering_peace_mind {
    padding: 50px 0;
}
.case_study .img_with_content {
    margin-top: 40px;
}
.icon_social {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}
.icon_social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    width: auto;
    float: right;
}
.icon_social ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    float: left;
        margin: 0 10px;
        overflow: hidden;
}
.icon_social ul li a {
    color: rgba(0, 0, 0, 0);
    float: left;
    width: 100%;
    min-height: 30px;
}

.icon_social ul li.facebook {
    background: url(../images/footer-facebook.png);
    background-size: 100% 100%;
}
.icon_social ul li.linkedin {
    background: url(../images/footer-linkedin.png);
    background-size: 100% 100%;
}
.icon_social ul li.twitter {
    background: url(../images/footer-twitter.png);
    background-size: 100% 100%;
}
.copyright_info {
    float: left;
    width: 100%;
}
.responsive_footer .icon_social ul{float: left;}
.icon_social ul li.facebook {margin-left: 0;}

.request_demo_page .contact_us_form{
    border-top: 2px solid #6c52e7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(#000, transparent);
    background-image: -moz-linear-gradient(#000, transparent), -moz-linear-gradient(#000, transparent);
    background-image: -o-linear-gradient(#000, transparent), -o-linear-gradient(#000, transparent);
    background-image: linear-gradient(#6c52e7, transparent), linear-gradient(#6c52e7, transparent);
    -moz-background-size: 3px 100%;
    background-size: 2px 60%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}
.request_demo_page .contact_us_form{margin-bottom: 0;  margin: 0 auto;}
.coming_soon_title h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
}
.page-id-20 .responsive_footer{
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;
}
.page-id-9 .equal_padding{
    padding: 20px 0 60px;
}
.bottom_green_img {
background-size: 100% 500px !important;
    background-position: bottom !important;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-repeat: no-repeat;
}
section.error-404.not-found {
    padding-top: 100px;
    text-align: center;
    max-width: 1160px;
    margin: 0 auto;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{background: transparent;    border-color: transparent;}
.button_wrapper ul li.sign_in a:hover {
    background: #6d50e8;
    border-color: transparent;
}
.button_wrapper ul li.get_started a:hover {
    background: transparent;
    border-color: #fff;
}
.signup_page .riggo_info a.get_set_up:hover {
    background: #34eab6;
    opacity: 1;
    color: #141414;
}
.signup_page .sign_up.riggo_info a.get_set_up:hover {
    background: #6d50e8;
    color: #fff;
    opacity: 1;
}
div.wpcf7-mail-sent-ok {
    color: green;
    border-color: green;
    clear: both;
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.page-id-20 div.wpcf7-response-output {
    background: transparent;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 3%;
    border: 0;
    width: 100% !important;
    text-align: center;
    padding: 0;
}
.page-id-20 form.wpcf7-form{position: relative;}
div.wpcf7-response-output{    margin-top: -40px !important;}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #ff0000;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
.form_shipper_or_carrier .form-group span span {
    font-size: 12px;
    float: left;
    width: 100%;
    clear: both;
    display: inline-block;
}
.form_wrapper {
    position: relative;
}
.form_wrapper:before, .form_wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    background: url(../images/form_shadow.png);
    width: 2px;
    height: 70%;
    background-size: 100% 100%;
    left: -70px;
    top: 0;
}
.form_wrapper:after {
    right: -70px;
    left: auto;
}
a.single_menu {
    color: #141414;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    text-transform: capitalize;
}
#menu-privacy li a {
    font-family: 'UniviaW03-Book';
    font-weight: normal;
}
.riggo_info a.get_set_up {
    font-weight: 700;
}
.quote_banner .quote-request-form{max-width: 660px;}
.page-id-156 footer#colophon {border-top: 1px solid #e5e5e5;}
.page-id-255 footer#colophon {border-top: 1px solid #e5e5e5;}
.page-id-258 footer#colophon {border-top: 1px solid #e5e5e5;}
.privacy_page_content h1 {
    color: #fff;
    text-align: center;
}

.menu-menu-1-container li.menu-item-has-children a:hover:before {/*visibility: visible;*/}
.menu-menu-1-container li.menu-item-has-children a:hover:after{/*visibility: hidden;*/} 
.author_review_testimonial .author-avatar a {cursor: auto;}



.menu-menu-1-container ul#primary-menu > li:hover > a:first-child:nth-last-child(2):before{
    background: url(../images/menu_arrow_up.png);
    background-size: 100% 100%;
}

.menu-menu-1-container ul#primary-menu li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    right: 5px;
    left: auto;
}
.menu-menu-1-container ul#primary-menu > li > a:first-child:nth-last-child(2):before {
    border-top-color: #aaa;
    background: url(../images/menu_arrow.png);
    right: 5px;
    top: 28px;
    width: 13px;
    height: 7px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.form_shipper_or_carrier .form-group #errcnfpwd {
    font-size: 12px;
}
.page-id-88  div.wpcf7-response-output, .page-id-89 div.wpcf7-response-output, .page-id-103 div.wpcf7-response-output{    background: transparent;}
.carriers_page_title .title_.title_white p {max-width: 600px;margin: 0 auto;padding: 0 10px;}

ul#menu-menu_2-1 li.sign_in {
  /*  float: left;*/
    margin-right: 0;
    padding-right: 30px;
   /* display: none;*/
}
.footer_column .menu li.sign_in {
    visibility: hidden;
    display: none;
}
.button_wrapper ul li:not(:last-child) {
    /*padding-right: 0;*/
}
/*404 page*/
/*.riggo_404 {
    background: url(../images/new-404.png);
    background-size: cover;
    text-align: center;
    height: 400px;
    float: left;
    width: 100%;
    background-position: bottom;
    padding-top: 120px;
}*/
.riggo_404 {
    /* background: url(../images/new-404.png); */
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    float: left;
    width: 100%;
    background-position: bottom;
    padding-top: 120px;
    background: linear-gradient(#34eab6 0%, #6d50e8 100%);
    height: 800px;
    position: relative;
}
.riggo_contnet_error {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.riggo_404 h1, .riggo_404 h2 {
    color: #fff;
}
.riggo_contnet_error:before {
    content: '';
    background: url(../images/404.png);
    float: left;
    width: 570px;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.riggo_contnet_error a {
    padding: 8px 25px;
    color: #fff;
    border-radius: 32px;
    font-size: 18px;
    display: inline-block;
    background-color: #25c9a6;
}
.home #way_boxes_row .wpb_raw_html .wpb_wrapper {
        position: absolute;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home #way_boxes_row .way_boxes {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body.fixed .main_header {
    position: fixed;
    background: linear-gradient(#0f0f3c 0%, rgba(15, 15, 60, 0.8) 100%);
    animation: smoothScroll 1s forwards;
}
.main_header{
    animation: smoothScrollone 1s forwards;
    opacity: 1;
}
.responsive-menu .button_wrapper ul li#menu-item-163 {
   /* display: none;*/
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes smoothScrollone {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*21-1-19 start*/
.page-id-9 .single_review .wpb_single_image.vc_align_left{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.page-id-9 .single_testimonial section#demos{
        position: static;
        margin-left: 15%;
        margin-top: 5%;
}
.page-id-9 .single_review .owl-theme .owl-dots{margin-top: 3%;}
.worked_at_riggo_testimonial .author-description {
    min-height: 210px;
}
/*21-1-19 end*/
/*22-1-19 start*/
.carriers_banner_content {
    display: inline-block;
    float: right;
}
body.fixed .main_header header#masthead{padding: 18px 0 18px;}
body.fixed  .main_header{    min-height: 80px;}
/*21-1-19 end*/

/*24-1-19 start*/
.page-id-30 .quote-request-form .bottom_field ul li:nth-child(1), .page-id-90 .quote-request-form .bottom_field ul li:nth-child(1) {width: 66.33%;}

/*24-1-19 end*/
div#ui-datepicker-div{display: none;}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   .shipper_carrier_form{margin-top: 180px;} 
.model_member_ {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: none;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.riggo_team_member .modal-style.style-1 figcaption{ background-image: linear-gradient(-221deg, rgba(52, 234, 182, 0.8), rgba(109, 80, 232, 0.5)); /* THIS IS WHAT EVER OVERLAY COLOUR YOU WANT */ }
}
/*}*/
label.error {font-size: 12px; color: #f96262;}
.error_wrapper {
    color: #a94442;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    background: #f2dede;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border: 1px solid #ebccd1;
    font-weight: 400;
    border-radius: 3px;
}

/*2-1-19 css*/
.page-id-30 .shipper_main_quote .pretty.p-default.checked11 .state label:after {
    background-color: #6D50E8 !important;
    z-index: 999;
}