@media screen and (min-width: 1600px) {
    header#masthead {max-width: 1500px;}
    .hero-section .vc_column_container.vc_col-sm-12 {max-width: 1500px;}
    .freight-quote-main{max-width: 1500px;}
    .hero-section .vc_column_container.vc_col-sm-12 .vc_column-inner {padding: 0;}
    .contact_us_form{margin-right: 0;}
    .single_testimonial .wpb_single_image img {width: 80%; 	margin-left: 10%;}
}
@media screen and (max-width: 1366px) {
    div#page{overflow: hidden;}
    .single_testimonial section#demos{
            left: 10%;
            max-width: 600px;
    }
    .single_review .owl-theme .owl-dots{margin-top: 3%;}
    .single_review .card-testimonial {margin-top: 20px;}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.vc_column_container.vc_col-sm-12{ max-width: 1160px;}
/*header#masthead{max-width: 1160px;}*/
}
@media (max-width: 1199px) {
header#masthead{max-width: 960px;}
.freight-quote-main{max-width: 960px;}
.vc_column_container.vc_col-sm-12{max-width: 960px;}
.site-info{max-width: 960px;}
.site-branding{width: 180px;}
	#site-navigation{    width: calc(100% - 180px);}
	.menu-menu-1-container li{    margin: 0 15px;}
	.button_wrapper ul li:not(:last-child) {/*padding-right: 0px;*/}
.button_wrapper ul li a{padding: 5px 15px;}
#way_boxes_row .wpb_wrapper{width: 450px;height: 270px;}
.author_review_testimonial .author_testimonials{    min-height: 450px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content-inner{max-height: 100%;padding-top: 20px;}

.carriers_box_only .half_with_box .boxes_content{min-height: 230px; padding-right: 5%;}
.full_width_section .wpb_single_image .vc_single_image-wrapper {max-width: 100%;}
.single_testimonial section#demos{    top: 5%;}
.form_shipper_or_carrier.contact_us_form{padding: 20px 30px;}
.careers_page{padding-left: 15px; padding-right: 15px;}
.author_review_testimonial .owl-nav .owl-prev{    left: -20px;}
.author_review_testimonial .owl-nav .owl-next{    right: -20px;}
.request_demo_page .form_shipper_or_carrier.contact_us_form {padding: 20px 70px;}
.page-id-20 div.wpcf7-response-output{    font-size: 14px;    left: 0;}
ul#menu-menu_2-1 li.sign_in{padding-right: 10px;}
.button_wrapper ul{    margin-top: 0px;}
.worked_at_riggo_testimonial .author-description {min-height: 240px;}
}
/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
.vc_column_container.vc_col-sm-12{max-width: 720px;}
.site-info{max-width: 720px;}
.freight-quote-main{max-width: 720px;}
header#masthead{max-width: 720px;}
#way_boxes_row .wpb_wrapper {width: 340px;height: 210px;}
.capacity_sec{    padding: 20px 0;}
.author_review_testimonial .author-description p{line-height: 26px;font-size: 18px;}
.author_review_testimonial .author_testimonials{padding: 80px 20px 50px 20px;min-height: 410px;}
.author_review_testimonial .owl-theme .owl-dots {margin-top: 0;}
.freight_your_way {margin-top: 0;}
._boxes_icon{padding: 0;}
.equal_padding{padding: 10px 0;}
.full_content_manage .vc_col-sm-6 {width: 100%;}
.carriers_box_only .half_with_box .boxes_content{min-height: 170px;padding-right: 0;padding: 0 15px;}
.full_width_section .wpb_single_image .vc_single_image-wrapper {max-width: 80%;}
.single_review .author-description p{    line-height: 34px; font-size: 22px;    padding-top: 60px;}
.single_review .card-testimonial {margin-top: 12px;}
.delivering_boxes{margin-top: 0;}
.contact_us_form .form_two_field .form-group{    margin-top: 0; width: 100%;}
.contact_us_form h3{margin-bottom: 20px;}
.contact_us_form .form_shipper_or_carrier .form-group{    margin: 15px 0;}
.careers_page_content .delivering_boxes {padding: 0;}
.careers_boxes .box_title h3{font-size: 18px;    padding: 16px 30px;}
.careers_boxes .careers_content ul li{font-size: 16px;margin-bottom: 8px;}
.careers_boxes .careers_content{min-height: auto;}

.freight_form .form-top{padding: 20px;}
.freight_form .form-bottom{padding: 20px 50px 20px 20px;}
.shipper_main_quote .freight_form .form-bottom{padding: 20px;}
.freight_form .form-bottom input.add_cell{bottom: 142px;right: 10px;}
.quote-request-estimation{padding: 20px;}
.quote-request-estimation span.estimated-price{font-size: 38px;}
.quote-request-estimation span.estimated-time-label{margin-top: 20px;}
.quote-request-estimation span.estimated-time-value{margin-bottom: 20px;}
.quote-request-output-links{display: inline-block; padding-top: 10px;}
.quote-request-output-links .action_btn{display: inline-block;}
.freight_form .form-bottom input.delete_cell{right: -40px;}
.freight_info{padding-left: 25px;}
.quote_banner h1{margin-top: 30px;}
.freight-quote-main{margin-top: 30px;}

.copyright_info p {font-size: 15px;}
.request_demo_page .contact_us_form .form_two_field .form-group {width: 50%;}
.riggo_404{height: 730px;position: relative;}
.page-id-92 .author_review_testimonial .author_details {min-height: 200px;}

.page-id-9 .single_testimonial section#demos {position: static;margin-left: 0%;margin-top: 2%;        max-width: 100%;}
.page-id-9 .single_review .wpb_single_image.vc_align_left{display: none;}
.page-id-92 .author_review_testimonial .worked_at_riggo_testimonial .author_testimonials{padding: 70px 15px 15px 15px;}
.worked_at_riggo_testimonial .author-description {min-height: 260px;}
}


@media screen and (max-width: 830px){
.modal-style.style-1 .awsm-nav-item.awsm-nav-right {left: auto;right: 0;}
.modal-style.style-1 .awsm-nav-item{width: 40px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content-inner{max-height: 100%;padding-top: 20px;}
.modal-style.style-1 .awsm-modal-content-inner{padding-right: 30px;}
}




/*Medium devices (tablets, 768px and up)*/
@media (max-width: 767px) {
.vc_column_container.vc_col-sm-12{ max-width: 720px;} 
header#masthead{max-width: 100%;padding-top: 5px;box-sizing: border-box;background: #0f0f3c; padding-bottom: 0;}

.menu-toggle{display: none;}.main-navigation ul{display: none;}
#nav-main-mobile {
display: block !important;
font-size: 15px;
float: right;
    padding: 7px 25px;
}
#nav-main-mobile a {
text-transform: uppercase;
color: #fff;
}
#nav-main-mobile a:hover {
color: #c50030;
}
#nav-main-mobile li {
list-style-type: none;
}

.menu-item {
width:100% !important;
position: relative;
padding: 0px;
line-height:35px;
}
.menu-btn-container{
text-transform:uppercase;
color:#fff;
padding:5px;
}
.menu-btn div {
position: absolute;
left: 100%;
top: 64%;
padding-right: 8px;
margin-top: -0.50em;
line-height: 1.2;
font-size: 18px;
font-weight: 200;
vertical-align: middle;
z-index: 99;
}

.menu-btn span {
display: block;
width: 19px;
height: 3px;
margin: 4px 0;
background-color: #fff;
z-index: 99;
}
.menu-btn #menu-text {
display:block;
float:left;
position:absolute;
top:2px;
left:30px;
background-color: #252525;

}

.responsive-menu{
    display: none;
    float: left;
    width: 100%;
    background: #0F0F3C;
    padding-bottom: 20px;
    height: 100vh;
    overflow: auto;
}

.expand {
display: block !important;
}

.open-menu-link{
display: none;
position: absolute;
right: 15px;
top:0;
line-height: 35px;
font-size: 30px;
cursor: pointer;
}

.site-branding{    padding: 7px 25px;}

.responsive-menu .button_wrapper {
    width: 100%;
}
.responsive-menu .menu-header {
    width: 100%;
    float: left;
}
.responsive-menu .button_wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
        margin-top: 30px;
}
.responsive-menu .button_wrapper ul li:not(:last-child) {
    padding: 0;
}
.responsive-menu .button_wrapper ul li a {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 3px 75px;
    font-size: 16px;
    color: #fff;
    max-width: 280px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.responsive-menu .button_wrapper ul li{
	    margin-bottom: 5px;
	        display: inline-block;
}
.responsive-menu .button_wrapper ul li:last-child {
    margin-bottom: 0;
}
.responsive-menu .menu-header ul#primary-menu {
    margin: 0;
padding: 0;
}
.responsive-menu .menu-header li a {
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
    padding: 0 25px;
}
.responsive-menu .menu-header li {
    border-bottom: 2px solid #303061;
    padding: 12px 0;
}
.responsive-menu .menu-header li:last-child {
    border-bottom: 0;
}
.menu-btn {
    width: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.closeicon .menu-btn span:nth-child(1){
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}
.closeicon .menu-btn span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.closeicon .menu-btn span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 8px;
}
.menu-btn span:nth-child(1){
	    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu-btn span:nth-child(2){
	    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu-btn span:nth-child(3){
	    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu-btn span{
	    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#way_boxes_row .wpb_wrapper {
    width: 275px;
    height: 170px;
    margin-bottom: 30px;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes h3{font-size: 22px;}


.home-page-banner p br {display: none;}
.home-page-banner {text-align: center;}



._boxes_icon p{max-width: 400px;margin: 0 auto;}

#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes_btn a{height: 40px;width: 40px;}
.way_boxes_btn a:before{width: 11px;height: 18px;}


.author_review_testimonial .author_details {min-height: auto;text-align: center;}
.author_review_testimonial .author-description:before{right: 0;left: 0;margin: 0 auto;}
.author-footer {text-align: center;}
.author_review_testimonial .about_author{width: auto;text-align: left;max-width: 200px;}
.author_review_testimonial .author_testimonials{min-height: auto;    box-sizing: border-box;float: left;    padding: 70px 10px 20px 10px;max-width: 400px;margin: 0 auto;float: none;}
/*.author_review_testimonial .item { padding: 0;}*/
.author_review_testimonial .author-description p{font-size: 14px; line-height: 23px;}
.author_review_testimonial .about_author h6,
.author_review_testimonial .about_author h4{font-size: 14px;}
.author_review_testimonial .author-description{    margin-bottom: 15px;}
.author_review_testimonial.vc_custom_1546408006710,
.author_review_testimonial.vc_custom_1546508258494,
.case_study.bottom_blue_img.vc_custom_1546258522792,
.case_study.bottom_blue_img.vc_custom_1546862243224{padding-bottom: 0;background-size: 100% 350px !important;}
.owl-theme .owl-nav.disabled+.owl-dots {margin-top: 0;margin-bottom: 30px;}

.footer_wrapper .footer_column{width: 50%;}
.footer_wrapper .footer_column.menu_combine {width: 50%;}
.footer_wrapper .footer_column.icon_or_link {width: 100%;text-align: center;}
.footer_column.icon_or_link .sfsi_widget .norm_row.sfsi_wDiv{text-align: center !important;}
.footer_wrapper .footer_column.icon_or_link {width: 100%;text-align: center;}
.copyright_info, .social_icon, .terms_privacy {text-align: center;}
.footer_wrapper{padding: 0 10px;}
footer#colophon{padding:0;}

.riggo_team_member .modal-style.style-1 figcaption h3 {font-size: 18px;}
.riggo_team_member .awsm-personal-info span{font-size: 16px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content-inner {max-height: none;padding-bottom: 20px;padding-right: 20px;}
.riggo_team_member .member_popup {width: 100%;height: auto;float: left;clear: both;display: inline-block;max-width: 300px;margin: 0 auto;float: none;}
.riggo_team_member .modal-style.style-1 .awsm-image-main{height: auto;}
.riggo_team_member .awsm-modal-details {float: left;width: 100%;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content-main{text-align: center;}
.riggo_team_member .modal-style.style-1 .awsm-modal-details{text-align: left;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content{padding: 0;}
.riggo_team_member .awsm-grid-wrapper .awsm-social-icons{text-align: left;padding: 15px 20px;margin-top: -5px;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner h2{font-size: 20px;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner h3{font-size: 16px;}
.riggo_team_member .awsm-modal-item .awsm-modal-content-inner p{font-size: 14px;line-height: 23px;}
.riggo_team_member .member_model {margin-top: 20px;}
.riggo_team_member .member_model p{margin-bottom: 10px;}
.riggo_team_member .modal-style.style-1 .awsm-modal-content{height: auto;width: 100%;}
.modal-style.style-1 .awsm-nav-item{top: 13px;}
.modal-style.style-1 .awsm-nav-item.awsm-nav-right{left: 30px;}
.modal-style.style-1 .awsm-modal-close {top: 10px;}
.modal-style.style-1 .awsm-modal-item{padding-top: 50px;background: #0F0F3C;}

/*Responsive footer*/
.footer_wrapper{display: none;}
.responsive_footer {display: block !important;float: left;width: 100%;padding: 10px;box-sizing: border-box;}
.responsive_footer .footer_part {float: left;width: 100%;clear: both;}
.responsive_footer .footer_part .footer_devider {width: 50%;float: left;}
.footer_part.footer_bottom .footer_devider {width: 100%;}
.footer_part.footer_bottom .footer_devider .res_logo {float: left;width: 50%;}
.footer_part.footer_bottom .footer_devider .icon_or_link {float: left;width: 50%;}
.footer_part.footer_bottom .footer_devider .icon_or_link .norm_row.sfsi_wDiv {text-align: left !important;}
.footer_part.footer_bottom .footer_devider .res_logo aside {max-width: 40px;margin: 0;}
.responsive_footer .copyright_info p {font-size: 16px;margin: 5px 0;}
.responsive_footer .copyright_info #custom_html-3 {margin-bottom: 0;}
.responsive_footer .footer_address {margin-top: 0;}
.responsive_footer .copyright_info {margin-top: 20px;}
/*Responsive footer*/
.mobile_banner {display: block;margin-top: 20px;padding-bottom: 40px;float: left;width: 100%;}
.title_{margin-top: 20px;}
.home .vc_custom_1545991978566 {margin-top: 10px !important;}
.home .vc_custom_1545992163003 {margin-top: 10px !important;margin-bottom: 0 !important;}
.wpb_content_element{margin-bottom: 0;}
.author_review_testimonial {margin-top: 0;}
.author_review_testimonial .item{padding-top: 0;    margin-left: -30px;}
.author_review_testimonial .owl-carousel.owl-drag .owl-item {padding-top: 15px;}
.author_review_testimonial .wpb_content_element {margin-bottom: 0;}
.page .common_bg_title {background-position: 80% 0px !important;}
.home-page-banner .carriers_contact .carriers_repres {display: inline-block;width: 100%;margin-top: 20px;}
.home-page-banner .carriers_contact .carriers_signup {display: inline-block;width: 100%;}
.equal_padding{padding: 10px 0;}
.single_review .author-footer {text-align: left;}
.not_quite {text-align: center;}

.common_sec{padding:0;}
.not_quite .contact_profile{margin-top: 30px;}
.banner_text_right .home-page-banner{float: none;}

.home-page-banner .carriers_contact .carriers_repres p{text-align: center;margin: 0 auto;}
.home-page-banner .carriers_contact{margin-top: 20px;}
.carriers_box_only .half_with_box .boxes_content{    margin-bottom: 20px;    min-height: auto;min-height: 140px;}
.single_testimonial section#demos{left: 0;max-width: 100%;margin: 0 auto;top: 0;right: 0;text-align: center; position: static;}
.carriers_box_only {margin-bottom: 20px;}
.case_study .img_with_content .vc_column-inner{padding: 0px 20px;}
.case_study {margin-bottom: 25px;}
.case_study.bottom_blue_img.vc_custom_1546258522792,
.case_study.bottom_blue_img.vc_custom_1546862243224 {background-size: 100% 140px !important;}
.case_study_testimonial{    padding-bottom: 130px;margin: 0 auto;}
.awsm-grid-wrapper .awsm-grid{padding-top: 0;}
.signup_page {margin-top: 90px;}
.request_demo_page .form_shipper_or_carrier.contact_us_form {
    padding: 20px 20px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6c52e7), to(transparent));
    background-image: -webkit-linear-gradient(#6c52e7, transparent);
    background-image: -moz-linear-gradient(#6c52e7, transparent), -moz-linear-gradient(#6c52e7, transparent);
    background-image: -o-linear-gradient(#6c52e7, transparent), -o-linear-gradient(#6c52e7, transparent);
    background-image: linear-gradient(#6c52e7, transparent), linear-gradient(#6c52e7, transparent);
    -moz-background-size: 3px 100%;
    border-top: 2px solid #6c52e7;
}
.form_shipper_or_carrier{padding: 20px 20px;}
.form_wrapper:before{left: -20px;}
.form_wrapper:after{right: -20px;}
.form_shipper_carrier .wpb_content_element {margin-bottom: 0;}
.contact_page_content {padding-top: 0;}
.contact_form_page .vc_row-fluid {padding-top: 0px;}
.contact_page_content .part_contact {margin-bottom: 20px;}
.contact_form_page.vc_custom_1546349800467 {background-size: 100% 530px!important;background-position: top !important;}
.contact_form_page {text-align: center;}
.form_shipper_or_carrier.contact_us_form{margin-top: 70px;    background-image: none;}
.form_shipper_or_carrier.contact_us_form label {text-align: left;}
.contact_form_page .wpcf7-validation-errors {color: #ff0000;float: left;width: 100%;}
.contact_us_form .form_two_field .form-group, .contact_us_form span.wpcf7-not-valid-tip{text-align: left;}
.careers_page h2:before{right: 0;}
.careers_page{text-align: center;}
.careers_boxes_content{margin-top: 30px;}
.page-id-92 .home-page-banner .action_btn {margin-top: 25px;}
.map_section .vc_custom_1546323035833 {height: auto;}
.hero-section {padding-top: 95px;}

/*alignment and font size for main title*/
.home-page-banner h1{font-size: 38px;line-height: 46px;margin-bottom: 0;}
.home-page-banner p{max-width: 300px;margin: 0 auto;font-size: 16px; margin-top: 0;line-height: 23px;}
.title_ h2{font-size: 20px;margin-bottom: 5px;margin-top: 0;    line-height: 28px;}
.title_ h2:before{top: -10px;}
.title_ p{line-height: 22px;    font-size: 16px;}
._boxes_icon h2{font-size: 14px;}
._boxes_icon p{font-size: 14px;line-height: 23px;}
.capacity_sec h3{    font-size: 18px;}
.capacity_sec h4{    font-size: 16px;}
.capacity_sec p{    font-size: 16px;}
.not_quite h3{font-size: 20px;}
.not_quite h4{font-size: 16px;margin-top: 0px;}
.not_quite .contact_profile a{font-size: 16px;}
.not_quite p{margin: 0 auto;font-size: 14px;}
.not_quite .contact_profile a{font-size: 14px;}
.single_review .wpb_single_image {visibility: hidden;    display: none;}
.single_review .author-description p{font-size: 18px;}
.single_review .about_author h4{font-size: 14px;}
.single_review .about_author h6{font-size: 14px;}
.half_with_box .boxes_content h4{font-size: 14px;}
.half_with_box .boxes_content p{font-size: 14px;line-height: 22px;}
.carriers_icon_boxes ._boxes_icon .icon_boxes{line-height: normal;max-height: none;}
.two_boxes h3{font-size: 14px; margin-bottom: 0;}
.two_boxes p{margin-top: 0; font-size: 14px; line-height: 23px;}
.case_study h3{font-size: 16px;}
.case_study p{font-size: 14px;}
.case_study_testimonial p{font-size: 18px;}
.signup_page .riggo_info h2{font-size: 30px;margin-bottom: 0;}
.signup_page .riggo_info p{font-size: 18px;margin-top: 5px;margin-bottom: 25px;}
.shipper_carrier_form h1{font-size: 30px;line-height: normal;}
.shipper_carrier_form p {font-size: 16px;margin-top: 10px;}
.contact_page_content h1{font-size: 38px;}
.contact_page_content p{font-size: 16px;}
.contact_page_content .part_contact h4{font-size: 16px;}
.contact_page_content .part_contact a{font-size: 14px;}
.careers_page h2{font-size: 20px;}
.careers_page .address p{font-size: 16px;}
.careers_page p{margin-top: 20px; font-size: 16px;}
/*alignment and font size for main title*/


.freight_form{width: 100%;}
.freight_info{width: 100%;}
.quote_banner{background-size: 100% 330px;background-repeat: no-repeat;}
.quote_banner h1 {margin-top: 0;font-size: 31px;}
.freight_info {background: rgba(92, 92, 222, 0.8);padding: 20px;}
.quote-request-form .bottom_field{padding-bottom: 20px;margin-bottom: 20px;}
.freight_form .form-bottom input.delete_cell{bottom: 0px;right: 0;left: 0;margin: 0 auto;}
.freight_form .form-bottom input.add_cell {  
    bottom: 90px;
    position: absolute;
    left: 10px;
    margin: 0 auto;}
form.repeater{background-color: #fff;}
.quote-request-estimation{border: 0;background-size: 0;}
.quote-request-output-links a{display: inline-block;}
.freight-quote-main{display: block;margin-top: 90px;}
.quote-request-output-links .action_btn{width: 100%;}
.quote-request-output-links a{width: 100%;}
.quote-request-estimation{padding: 0;}
.quote-request-form .bottom_field ul li{padding-right: 0;margin-bottom: 10px;width: 100%;}
.freight_form .form-bottom {padding: 20px 20px 20px 20px;}
.freight_form .form-top .form-top-left {padding-right: 0;}
.freight_form .form-top .form-top-left, .freight_form .form-top .form-top-right {width: 100%;}
.freight_form .form-top .form-top-right {padding-left: 0;margin-top: 10px;}
.deliivering_peace_mind {padding: 10px 0;}
.case_study .img_with_content {margin-top: 0px;}
.page-id-92 .author_review_testimonial .author_testimonials{padding: 70px 10px 20px 10px;}

/*Shipper form*/
.shipper_main_quote .freight_info{width: 100%;background: transparent; padding: 0;}
.shipper_main_quote .home-page-banner{text-align: center;}
.quote_banner.shipper_main_quote{background-size: auto 500px;background-repeat: no-repeat;    min-height: 480px;}

.shipper_main_quote .home-page-banner{text-align: center;}
.shipper_main_quote .talk_to_representative a{width: 100%}
.shipper_main_quote .freight_form {width: 100%; padding-top: 30px;}
.quote_banner.shipper_main_quote h1{font-size: 38px;margin-bottom: 0;}
.shipper_main_quote .home-page-banner{margin-top: 0;}

aside#custom_html-2 h3.widget-title {font-size: 14px;margin-top: 0;}
.request_demo_page .contact_us_form{border:0;}
.about_us_banner h1{    font-size: 24px;}
.about_mission h2{font-size: 18px;    margin-bottom: 20px; margin-top: 0;}
.about_mission p{font-size: 14px;}
.coming_soon_title h1{font-size: 22px;}
.contact_us_form h3{font-size: 16px;}
.form_shipper_or_carrier.contact_us_form {margin-bottom: 0;}
.bottom_green_img{background-size: 100% 250px !important;}
.quote-request-output{max-width: 300px;margin: 0 auto;float: none;}
.shipper_main_quote .quote-request-form{float: none;margin: 0 auto;margin-top: 50px;}
.shipper_main_quote .freight_form .form-bottom{background-size: 0;}

.page .contact_form_page {background-size: 100% 550px !important;background-position: top !important;}
.form_shipper_or_carrier.contact_us_form{padding: 20px 0px;}

.quote_banner .quote-request-form {max-width: 100%;}
.menu-privacy-container #menu-privacy-1 {list-style: none;margin: 0;padding: 0;}
.privacy_page h2 {font-size: 18px;margin-bottom: 0;}
.privacy_page p {margin-top: 5px;font-size: 14px;}
.form_shipper_carrier.privacy_page_content {min-height: 220px;}

.responsive_footer .footer_part .footer_devider{padding-left: 13%;}
.responsive_footer .footer_part.footer_bottom .footer_devider:nth-child(2) {padding-left: 0;}
.footer_part.footer_bottom .footer_devider .icon_or_link{padding-left: 8%;}

.single_review .author_details {text-align: center;}
.single_review .author-description:before{right: 30px; margin: 0 auto;}
.single_review .author-footer {text-align: center;}
.single_review .owl-theme .owl-nav.disabled+.owl-dots{text-align: center;    margin-top: 20px;}
.single_review .author_testimonials {padding-right: 20px;max-width: 500px;margin: 0 auto;}

.carriers_banner.hero-section{background-position: 99% top !important;}
.page-id-92 section#demos {margin-top: 20px;}
.page-id-9 .hero-section {padding-top: 60px;}
.page-id-9 .carriers_banner.hero-section {padding-top: 60px;height: 500px !important;min-height: 100% !important;}
.hero-section:not(.contact_form_page) {max-height: 600px !important;min-height: 480px !important;}
.page-id-10 .hero-section:not(.contact_form_page) {max-height: 600px !important;min-height: 384px !important;}
.page-id-89 .vc_column-inner,
.page-id-88 .vc_column-inner,
.page-id-103 .vc_column-inner {padding-top: 0 !important;}
.form_shipper_or_carrier.contact_us_form{padding-top: 1px;}
.page-id-20 form.wpcf7-form {margin-top: 70px;}
.page-id-30 .freight-quote-main {display: block;margin-top: 20px;}
.page-id-92 .author_review_testimonial .author_details {min-height: auto;}
.page-id-92 .author-footer {min-height: auto;}
.page-id-92 .author_review_testimonial .author_testimonials{    max-width: 380px;}
.responsive-menu .menu-header li#menu-item-177 > a {display: none;}
.responsive-menu .menu-header li#menu-item-177 {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    float: left;
    width: 100%;
}
.responsive-menu .menu-header ul.sub-menu li#menu-item-159 {
    border-top: 0;
    margin-top: 0;
}
.responsive-menu{padding-bottom: 0;}
.page-id-10 .about_us_banner h1{font-size: 24px;}
#way_boxes_row .wpb_wrapper .way_boxes h3{font-size: 22px;}
#way_boxes_row{margin-top: 20px;}
.main_header{min-height: 61px;}
.responsive-menu .menu-header li ul.sub-menu{padding-bottom: 60px;}
.worked_at_riggo_testimonial .author-description {min-height: 190px;}
.page-id-30 .quote-request-form .bottom_field ul li:nth-child(1) {
    width: 100%;
}
body.fixed .main_header {
    min-height: 65px;
}
body.fixed .main_header header#masthead {
    padding: 9px 0 9px;
}
}
@media (max-width: 600px){
    .full_width_section.full_content_manage {overflow: visible!important; margin-bottom: 80px;}
    .full_content_manage .responsive_view_image {position: absolute;bottom: -15%;width: 100%;}
.responsive_view_content {padding-bottom: 70%;}
.full_width_section .wpb_single_image .vc_single_image-wrapper{    max-width: 100%;}
.riggo_contnet_error:before{    background-size: 260px;height: 160px;}
.riggo_404 h2 {font-size: 18px;}
.riggo_contnet_error{    transform: translate(-50%, -0%); top: 90px;padding: 0 10px;}
.riggo_404{    height: 460px;    margin-bottom: 30px;}
.carriers_banner_content{float: none;width: 100%;}
}

@media (max-width: 678px){
.awsm-grid-wrapper .awsm-grid>.awsm-grid-card {width: 50%;}
.author_review_testimonial .author_testimonials{    max-width: 320px;    margin-right: auto;margin: 0 auto;}
.half_with_box .boxes_content{width: 100%;    margin-bottom: 30px;}
.half_with_box .boxes_content p{margin-top: 0;}
.full_width_section {padding-bottom: 0px;}
.carriers_box_only .half_with_box .boxes_content{min-height: auto;max-width: 300px;margin: 0 auto;float: none;margin-bottom: 20px;text-align: center;}
.owl-theme .owl-nav.disabled+.owl-dots {margin-top: 0;margin-bottom: 0px;}

.responsive_footer .footer_part .footer_devider {padding-left: 10%;}
.footer_part.footer_bottom .footer_devider .icon_or_link {padding-left: 6%;}



}

@media (max-width: 480px) {
    .responsive_footer .footer_column .menu li{margin-bottom: 26px;line-height: normal;}
    .responsive_footer .footer_address p{margin-top: 0;font-size: 14px;}
    .responsive_footer .footer_column .menu li a{    font-size: 14px;}
.site-branding{width: 180px;}
.author_review_testimonial .author_testimonials{    margin-right: auto;    max-width: 310px;}

.author_review_testimonial.vc_custom_1546408006710,
.author_review_testimonial.vc_custom_1546508258494{    background-size: auto 280px !important;}
.author_review_testimonial .about_author{max-width: 130px;}
.riggo_team_member .member_popup{max-width: 100%;}
.riggo_team_member .modal-style.style-1 figcaption h3 {font-size: 14px;}
.riggo_team_member .awsm-personal-info span {font-size: 12px;}
.single_review .wpb_wrapper {position: relative;display: flex;    min-height: 320px;}
.two_part_contact .contact_us, .two_part_contact .join_us{max-width: 100%; width: 100%;}
.two_part_contact h2{font-size: 20px;margin-bottom: 5px;}
.two_part_contact .join_us {margin-bottom: 20px;}
.two_part_contact .contact_us a, .two_part_contact .join_us a {min-width: 200px;}
.form_shipper_carrier {min-height: 300px;}
.form_top {margin-top: 0;}
.form_two_field .form-group{width: 100%;}
.form_shipper_or_carrier .form-group{float: left;margin: 10px 0;width: 100%; padding: 0;}
.form_shipper_or_carrier{    background-size: 0px 60%;border-top: 0px solid #6c52e7;}
.form_shipper_or_carrier .btn_gradient{padding: 0;margin-bottom: 0;float: left;width: 100%;}
.allready_ac_login{display: inline-block;margin-top: 0px;padding-bottom: 30px;margin-top: 20px;}
.allready_ac_login .account_allready{display: inline-block;text-align: center;padding-right: 0;width: 100%;}
.allready_ac_login .action_btn{display: inline-block;text-align: center; width: 100%;margin-top: 15px;}
.allready_ac_login .action_btn a {width: 100%;}
.form_shipper_or_carrier.contact_us_form{margin-top: 10px;}
.responsive_footer .copyright_info p {font-size: 14px;margin: 5px 0;}
.terms_privacy a {font-size: 14px;}
.responsive_footer .copyright_info {margin-top: 10px;}
.icon_social ul li{margin: 0 7px;}
.responsive_footer{padding: 30px;padding-top: 10px;padding-bottom: 10px;}
aside#custom_html-4 {margin-bottom: 0;}
.bottom_green_img{background-size: auto 250px !important;}
.responsive-menu .menu-header li a{font-size: 16px;}
.form_shipper_carrier {background-position: right top !important;}
.page .contact_form_page {background-size: auto 510px !important;background-position: top !important;}
.responsive_footer .footer_part .footer_devider {padding-left: 0;}
.footer_part.footer_bottom .footer_devider .icon_or_link {padding-left: 0;}
.form_wrapper:before, .form_wrapper:after{visibility: hidden;}
.request_demo_page .form_shipper_or_carrier.contact_us_form{background-image: none;border-top: 0px solid #6c52e7;}
.request_demo_page .contact_us_form .form_two_field .form-group {width: 100%;}
.responsive_footer .footer_part .footer_devider:nth-child(2),
.responsive_footer .footer_part .footer_devider .footer_column.icon_or_link {padding-left: 5%;}
.responsive_footer .icon_social ul li {margin: 0 4px;}
.page-id-9 .carriers_banner.hero-section {padding-top: 60px;}
.single_review .author_testimonials{    padding-right: 30px;}
.page-id-20 form.wpcf7-form {margin-top: 26px;}
.page-id-20 div.wpcf7-response-output{    position: static;margin-top: 0px !important;}
.page-id-92 .author_review_testimonial .author_testimonials {max-width: 255px;}
.site-branding img.custom-logo {width: 100px;}
.menu-btn{width: 24px;}
.closeicon .menu-btn span:nth-child(3){top: 18px;}
#nav-main-mobile{padding: 0px 25px;}
.main_header {min-height: 53px;}
}

@media (max-width: 375px) {
    .hero-section:not(.contact_form_page) {
    max-height: 600px !important;
    min-height: 480px !important;
}
.signup_page {
    margin-top: 0;
}
.author_review_testimonial .author_testimonials{max-width: 255px;}
.full_content_manage .responsive_view_image{bottom: -11%;}
}