@font-face {
    font-family: 'univia_problack';
    src: url('../fonts/univiapro-black-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univia_prolight';
    src: url('../fonts/univiapro-light-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univia_proregular';
    src: url('../fonts/univiapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univia_prothin';
    src: url('../fonts/univiapro-thin-webfont.woff2') format('woff2'),
         url('../fonts/univiapro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-family: 'univia_proregular';}
h1, h2, h3, h4, h5, h6{font-family: 'univia_problack';}

#site-navigation {
    display: inline-block;
    width: calc(100% - 280px);
    box-sizing: border-box;
    margin: 0;
    clear: none;
    vertical-align: middle;
    height: 120px;
}
.site-branding {
    width: 280px;
    float: left;
}
.menu-menu-1-container li {
    display: inline-block;
    margin: 0 25px;
}
.menu-menu-1-container li a {
    vertical-align: middle;
    height: 100px;
    display: table-cell;
    font-size: 24px;
    text-transform: capitalize;
}
.menu-menu-1-container {
    float: left;
}
.button_wrapper {
    float: right;
}
.button_wrapper ul li {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    float: none;
}
.button_wrapper ul {
    display: table;
}
.button_wrapper ul li a {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 24px;
}
.main-navigation ul ul{    min-width: 300px;    padding: 15px 0;}
.main-navigation ul ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
        padding: 0 15px;
    box-sizing: border-box;
}
.main-navigation ul ul li a {
    height: auto;
    width: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
header#masthead {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    max-width: 1500px;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 30px 0;
}
.entry-content{margin-top: 0;}

.wpb_single_image .vc_figure,
.wpb_single_image .vc_single_image-wrapper, .wpb_single_image img{width: 100%;}

.title_ {text-align: center;font-size: 32px;color: #000;}
#way_boxes_row .wpb_wrapper {
    position: relative;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .wpb_wrapper {
    position: absolute;
    top: 0;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 30px solid transparent;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes {
    position: absolute;
    /* top: 0; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#way_boxes_row {
    position: relative;
}
.way_container:before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    border: 2px solid #fff;
        border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper img {
    border-top-right-radius: 40px;
    overflow: hidden;
    border-bottom-left-radius: 40px;
}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper{height: 100%;}
#way_boxes_row .wpb_single_image .vc_single_image-wrapper img {
    border-top-right-radius: 30px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
-moz-box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
box-shadow: 0px 0px 32px -2px rgba(77,37,237,0.81);
}	
#way_boxes_row .wpb_wrapper {
    position: relative;
	width: 550px;
	height: 350px;
    margin: 0 auto;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes_btn {
    position: absolute;
    bottom: 15px;
    right: 24px;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes_btn a {
    color: rgba(0, 0, 0, 0);
    height: 50px;
    width: 60px;
    float: left;
    display: inline-block;
    background: #6d50e8;
    text-align: center;
}
#way_boxes_row .wpb_wrapper .wpb_text_column .way_boxes h3 {
    margin: 0;
    color: #fff;
    font-size: 32px;
}
.footer_wrapper {
    width: 100%;
    clear: both;
    display: inline-block;
}
.footer_wrapper .footer_column {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    clear: none;
    float: left;
}
.footer_address a {
    color: #000;
    text-decoration: none;
}
.footer_wrapper .footer_column h3.widget-title {
    margin: 0;
}
.footer_address {
    margin-top: 20px;
}
.footer_column .menu li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.footer_column .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.footer_column .menu {
    margin: 0;
    padding: 0;
}
.footer_column .terms_privacy a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.footer_column .terms_privacy a.terms_link {
    border-right: 2px solid;
    padding-right: 10px;
    margin-right: 10px;
    line-height: normal;
}
.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner{padding-top: 0;}
#capacity_section .vc_column-inner {
    padding: 0;
}
#capacity_section .wpb_wrapper {
    position: relative;
    width: 100%;
}

#capacity_section .wpb_text_column {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10%;
}
.capacity_sec h3 {
    color: #fff;
    font-size: 38px;
    line-height: normal;
    margin: 0;
}
.capacity_sec h4 {
    font-size: 30px;
    color: #fff;
    line-height: normal;
    margin: 0;
}
.capacity_sec a {
    color: #31e2b2;
    text-decoration: none;
    font-size: 24px;
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 30px;
    display: inline-block;
}
header.entry-header {
    display: none;
}

.vc_column_container.vc_col-sm-12{
    max-width: 1500px;
    margin: 0 auto;
    float: none;
}
.capacity_sec {
    text-align: center;
    padding: 140px 0;
}
.site-info {
    max-width: 1500px;
    margin: 0 auto;
}
div#ui-datepicker-div {
    display: none;
}
label.error {font-size: 12px; color: #f96262;}